{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock extra_css %}

{% block head_title %}
    Login
{% endblock head_title %}

{% block body %}
    <div id="login-form">
        {% element h1 %}
            Login
        {% endelement %}

        {% if not SOCIALACCOUNT_ONLY %}
            {% setvar link %}<a href="{{ signup_url }}">{% endsetvar %}
            {% setvar end_link %}</a>{% endsetvar %}
            {% element p %}
                If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.
            {% endelement %}

            {% url 'account_login' as login_url %}
            {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" tags="prominent,login" %}
                        {% trans "Sign In" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock body %}

{% block extra_body %}
    {{ block.super }}
{% endblock extra_body %}
