{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block body %}
    <div id="allauth-form">
        <h1 class="allauth-h1">{% trans "Sign Out" %}</h1>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit" class="allauth-button">{% trans 'Sign Out' %}</button>
        </form>
    </div>
{% endblock body %}
