{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block body %}
    <div id="allauth-form">
        <h1 class="allauth-h1">{% trans "Change Password" %}</h1>

        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ redirect_field }}
            <button type="submit" class="allauth-button">{% trans "Change Password" %}</button>
        </form>

        <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
    </div>
{% endblock body %}
